<%- include("header") %>

<!-- Custom styles for this template -->
<link href="/stylesheets/button.css" rel="stylesheet">

<div class="container-fluid-form">

  <!-- navbar kolumn -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">𝓟𝓻𝓸𝓳𝓮𝓬𝓽𝓼 𝓜𝓪𝓷𝓪𝓰𝓮𝓶𝓮𝓷𝓽𝓼 𝓢𝔂𝓼𝓽𝓮𝓶</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item <%= url == 'projects' ? 'active' : '' %>">
          <a class="nav-link" href="/projects">Project </a>
        </li>
        <li class="nav-item <%= url == 'profile' ? 'active' : '' %>">
          <a class="nav-link" href="/profile">Profile</a>
        </li>       
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Users</a>
      </div>
    </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="/logout" class="btn btn-signout" type="submit">Sign Out</a>
    </form>
  </nav>
</div>