/* <- Demo Stuff Start */

body{
    height: 100%;
	font-family: Poppins-Regular, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 20vw;
    margin: 0 auto;
    min-height: 30vh;
  }
  .btn {
    flex: auto;
    margin: 5px;
    padding: 5px;
    text-align: auto;
    text-transform: auto;
    width: 20;
    transition: 0.5s;
    background-size: 50% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 20px #eee;
    border-radius: 10px;
   }
  
  /* Demo Stuff End -> */
  
  /* button style */
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-signout {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }

  .btn-search {
    background-image: linear-gradient(to right, #43cea2 0%, #185a9d 51%, #43cea2 100%)
  }

  .btn-showall {
    background-image: linear-gradient(to right, #000000 0%, #53346D 51%, #000000 100%)
  }

  .btn-apply {
    background-image: linear-gradient(to right, #283c86 0%, #45a247 51%, #283c86 100%)
  }

  .btn-add {
    background-image: linear-gradient(to right, #000000 0%, #0f9b0f 51%, #000000 100%)
  }

  