/* <- Demo Stuff Start */

body{
    height: 100%;
	font-family: Poppins-Regular, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 20vw;
    margin: 0 auto;
    min-height: 30vh;
  }
  .btn {
    flex: auto;
    margin: 5px;
    padding: 5px;
    text-align: auto;
    text-transform: auto;
    width: 20;
    transition: 0.5s;
    background-size: 50% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 20px #eee;
    border-radius: 10px;
   }
  
  /* Demo Stuff End -> */
  
  /* button style */
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-signout {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }

  .btn-search {
    background-image: linear-gradient(to right, #43cea2 0%, #185a9d 51%, #43cea2 100%)
  }

  .btn-showall {
    background-image: linear-gradient(to right, #000000 0%, #53346D 51%, #000000 100%)
  }

  .btn-apply {
    background-image: linear-gradient(to right, #283c86 0%, #45a247 51%, #283c86 100%)
  }

  .btn-add {
    background-image: linear-gradient(to right, #000000 0%, #0f9b0f 51%, #000000 100%)
  }


  .btn-update {
    background-image: linear-gradient(to right, #642B73 0%, #C6426E 51%, #642B73 100%)
  }

  .btn-save {
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4 51%, #E55D87 100%)
  }

  .btn-cancel {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
  }


  .btn-thead {
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%)
  }

  .btn-nomor {
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%)
  }


  .btn-overview {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
  }

  .btn-activity {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
  }

  .btn-members {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
  }

  .btn-issue {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
  }

  .btn-demo {
    background-image: linear-gradient(to right, #ff4b1f 0%, #1fddff 51%, #ff4b1f 100%)
  }




/* sidebar animasi */

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* end sidebar animasi */



  