<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<!-- Custom styles for this template -->
<link href="./stylesheets/button.css" rel="stylesheet">


<div class="container-fluid">


  <!-- formulir -->
  <form>
    <br>
    <h2>Projects</h2>
    <hr>
    <div class="container-fluid">
      <h3>Filters</h3>
    <div class="form-group row">
      <label for="inputID" class="col-sm-2 col-form-label">
        <input type="checkbox" id="inputID" name="cid"> ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='idproject' placeholder="ID">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">
        <input type="checkbox" id="inputName" name="cname"> Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name='namaproject' placeholder="Name">
      </div>
    </div>
    <div class=" form-group row">
      <label for="Member" class="col-sm-2 col-form-label">
        <input type="checkbox" id="Member" name="cmember"> Member </label>
        <div class="col-sm-10">
          <select class="custom-select" name="member">
            <option>Choose Member</option>
          </select>
        </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class=" btn btn-search">Search</button>
        <a href="/projects" class="btn btn-showall" type="submit">Show All</a>
      </div>
    </div>
  </form>

  <div class="container-fluid">
    <form method="POST" action="/projects/option">
      <h3>Options</h3>
      <hr>
      <div class="form-group row">
        <div class="col-sm-2" style=>Columns</div>
        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="id" name="checkid" value="true">
            <label class="form-check-label" for="cid">
              ID
            </label>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cname" name="checkname" value="true">
            <label class="form-check-label" for="cname">
              Name
            </label>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="cmember" name="checkmember" value="true">
            <label class="form-check-label" for="cmember">
              Member
            </label>
          </div>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-apply" type="submit">Apply</button>
        </div>
      </div>
    </form>
  </div>






  <!-- table columns -->
  <div class="container-fluid">
    <div class="">
      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!--data foreach sangat penting karena untuk merender data dari data json-->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/edit"><button type="button" class="btn btn-success">Edit</button></a>
              <a href="/delete"><button type="button" class="btn btn-danger"
                  onclick="return confirm('are you sure want to delete this?');">Delete</button></a></td>
          </tr>
        <tbody>
        </tbody>
      </table>
      <br />
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="/" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="/">1</a></li>
          <li class="page-item"><a class="page-link" href="/">2</a></li>
          <li class="page-item"><a class="page-link" href="/">3</a></li>
          <li class="page-item">
            <a class="page-link" href="/">Next</a>
          </li>
        </ul>
      </nav>
      <a href="/add" class="btn btn-add">Add</a>

    </div>

  </div>

  
</div>

<%- include("../partials/footer") %>
